{% extends 'base.html.twig' %}

{% block title %}Periodos{% endblock %}

{% block body %}
    <h1>Periodos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdPeriodo</th>
                <th>Descripcion</th>
                <th>MontoBase</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for periodo in periodos %}
            <tr>
                <td>{{ periodo.idPeriodo }}</td>
                <td>{{ periodo.descripcion }}</td>
                <td>{{ periodo.montoBase }}</td>
                <td>
                    <a href="{{ path('periodo_show', {'id': periodo.id}) }}">Detalles</a>
                    <a href="{{ path('periodo_edit', {'id': periodo.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay periodos registrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('home') }}">Volver</a>
{% endblock %}
