{% extends 'base.html.twig' %}

{% block title %}Ordenes{% endblock %}

{% block body %}
    <h1>Ordenes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Productos</th>
                <th>TotalOrden</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orden in ordens %}
            <tr>
                <td>{{ orden.id }}</td>
                <td>{{ orden.productos ? orden.productos|json_encode : '' }}</td>
                <td>{{ orden.totalOrden }}</td>
                <td>{{ orden.estado }}</td>
                <td>
                    <a href="{{ path('orden_show', {'id': orden.id}) }}">Detalles</a>
                    <a href="{{ path('orden_edit', {'id': orden.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay ordenes registradas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('home') }}">Volver</a>
{% endblock %}
